:root{
  --detail-color: #ed6436;
  --background-color: #fff;
  --tamanyo-texto-cabecera: 17px;
}

body{
  font-family: 'Nunito', sans-serif;
}

a{
  color: inherit;
}

ul{
  margin-bottom: 0;
}

.cabecera{
  font-size: var(--tamanyo-texto-cabecera);
  font-weight: 800;
  box-shadow: 0 5px 10px #f0f0f0;
}

.cabecera .buy-now{
  font-weight: inherit;
  font-family: inherit;
  border: 3px solid var(--detail-color);
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.link-navegacion{
  padding-top: 20px;
  padding-bottom: 20px;
}

.link-navegacion:hover{
  color: var(--detail-color);
  text-decoration: none;
  border-bottom: 4px solid var(--detail-color);
}

.menu-drop{
  border: none;
  top: 200%;
  left: -20px;
}

.elemento-drop{
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  font-size: var(--tamanyo-texto-cabecera);
  font-weight: 800;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.menu-drop > .dropdown-item:hover{
  color: var(--detail-color);
  background-color: var(--background-color);
}
