:root{
  --detail-color: #ed6436;
}

body{
  font-family: 'Nunito', sans-serif;
}

a{
  color: inherit;
}

ul{
  margin-bottom: 0;
}

.cabecera{
  font-size: 17px;
  font-weight: 800;
  box-shadow: 0 5px 10px #f0f0f0;
}

.cabecera .buy-now{
  font-weight: inherit;
  font-family: inherit;
  border: 3px solid var(--detail-color);
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
